* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lobster', cursive;
}
body {
	/*background-color: red;*/
	background-attachment: fixed;
}

#wrapper {
	width: 70%;
	margin: 0 auto;
	min-height: 100vh;
	background-color: red;
}

.links {
	padding-left: 10px;
	text-decoration: none;
	position: sticky;
	top: 0;
	z-index: 1;
}

.email,
.git,
.linkedin,
.facebook {
	display: inline-block;
	margin: 0 auto;
	font-size: 30px;
	padding-top: 10px;
}

.about {
	width: 60%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	background: radial-gradient(pink, blue);
}	

.my-picture {
	height: 120px;
	border-radius: 70%;
	border-style: solid;
	border-color: white;
}

h1 {
	color: green;
	font-size: 30px
	font-weight: normal;
}

#dev_desc {
	padding-top: 15px;
	padding-bottom: 15px;
}

.bio {
	text-align: justify;
	text-indent: 5%;
}

section#portfolio-section > h2,
section#skills-section > h2,
section#about-section > h2 {
	padding: 25px 0;
	text-align: center;
}

#portfolio-section {
	padding: 15px ;
}

section#portfolio-section > h2 {
	background-color: white;
	margin: 5px;
}

div#portfolio-sect-1 {
	height: 88vh;
}

.portfolio-sect-2 {
	display: inline-block;
	width: 32.95%;
	min-height: 100%;
	padding: 20px;
}

.portfolio-sect-2 > img {
	width: 100%;
}

.portfolio-sect-2 > h3 {
	padding: 20px 0;
}

.portfolio-sect-2 > p {
	height: 200px;
}

.sect-csp-1 {
	background-color: blue;
}

.sect-csp-2 {
	background-color: orange;
}

.sect-csp-3 {
	background-color: yellow;
}

#skills-section {
	padding: 15px;
}

section#skills-section > h2 {
	background-color: white;
}

#about-section {
	padding: 15px;
}

section#about-section > h2 {
	background-color: white;
}

#main-section,
#portfolio-section,
#skills-section,
#about-section {
	min-height: 100vh;
}

